################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AllegroProj/FileContentIndex/7744f985-cdce-4c64-abda-19e345e2317c.vsidx
/.vs/AllegroProj/v17/Browse.VC.db-shm
/.vs/AllegroProj/v17/Browse.VC.opendb
/.vs/AllegroProj/v17/Browse.VC.db-wal
